          <!-- Calendar & Quote -->
          <div class="col-md-3 col-sm-4 pr-1">

            <!-- Calendar -->
            <div class="calendar card border-primary" data-toggle="tooltip" title="" data-placement="left" data-original-title="It's not a special day. However what a wonderful one, isn't it?">
              <h3 class="calendar-day card-header text-center text-nowrap pl-0 pr-0"></h3>
              <h1 class="calendar-date card-title mt-3 text-center"></h1>
              <h5 class="calendar-month-year card-subtitle text-center pb-4"></h5>
            </div>

            <!-- Quote -->
            <div class="alert alert-dismissible alert-primary mt-3 pr-2">
              <blockquote class="blockquote text-left">
                <p class="mb-0 font-italic"><small class="quote-text form-text"></small></p>
                <h5 class="quote-author blockquote-footer text-right mt-1"></h5>
              </blockquote>
            </div>

            <!-- Teachers -->
            <div id="teachers-carousel" class="carousel slide" data-ride="carousel"> <!-- Carousel-->
              
              <ol class="carousel-indicators">
                <li data-target="#teachers-carousel" data-slide-to="0" class="active"></li>
                <li data-target="#teachers-carousel" data-slide-to="1"></li>
                <li data-target="#teachers-carousel" data-slide-to="2"></li>
                <li data-target="#teachers-carousel" data-slide-to="3"></li>
                <li data-target="#teachers-carousel" data-slide-to="4"></li>
              </ol>

              <div class="carousel-inner">
                <div class="carousel-item jumbotron alert alert-primary active h-100%" style="height: 385px;">
                  <img src="img/teachers/mrT.jpg" class="d-block mx-auto img-fluid img img-thumbnail rounded-circle" style="width: 250px;">
                  <p class="text-center mt-2"><i class="fa fa-quote-left fa-lg text-secondary"> </i> You failed? Do it again, but never give up!</p>
                </div>

                <div class="carousel-item jumbotron alert alert-primary h-100%" style="height: 385px;">
                  <img src="img/teachers/admin_avatar.jpg" class="d-block mx-auto img-fluid img img-thumbnail rounded-circle" style="width: 250px;">
                  <p class="text-center mt-2"><i class="fa fa-quote-left fa-lg text-secondary"> </i> Think! Because it's where everything starts.</p>
                </div>

                <div class="carousel-item jumbotron alert alert-primary h-100%" style="height: 385px;">
                  <img src="img/teachers/nodir.jpg" class="d-block mx-auto img-fluid img img-thumbnail rounded-circle" style="width: 250px;">
                  <p class="text-center mt-2"><i class="fa fa-quote-left fa-lg text-secondary"> </i> Knowledge and intelligence are miracles that bring a light to your soul, an illumination to your consciousness and a barakah to your family.</p>
                </div>

                <div class="carousel-item jumbotron alert alert-primary h-100%" style="height: 385px;">
                  <img src="img/teachers/mrsIqbol.jpg" class="d-block mx-auto img-fluid img img-thumbnail rounded-circle" style="width: 250px;">
                  <p class="text-center mt-2"><i class="fa fa-quote-left fa-lg text-secondary"> </i> What I like most about my job is the fact that I'm helping our students to achieve what they need.</p>
                </div>

                <div class="carousel-item jumbotron alert alert-primary h-100%" style="height: 385px;">
                  <img src="img/teachers/mrsDildora.jpg" class="d-block mx-auto img-fluid img img-thumbnail rounded-circle" style="width: 250px;">
                  <p class="text-center mt-2"><i class="fa fa-quote-left fa-lg text-secondary"> </i> We have to do it no matter what. Why? Because nobody else is doing it.</p>
                </div>

              </div>
            </div> <!-- Teachers Finishes -->

          </div>