    <ul class="nav nav-tabs nav-justified" role="tablist">
      <li class="nav-item">
        <a href="#Home" class="nav-link active" data-toggle="tab">Home Page</a>
      </li>
      <li class="nav-item">
        <a href="#Students" class="nav-link" data-toggle="tab">For Students</a>
      </li>
      <li class="nav-item">
        <a href="#LevelCheck" class="nav-link" data-toggle="tab">Level Tests</a>
      </li>
      <li class="nav-item dropdown">
        <a href="#Courses" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Courses</a>
        <div class="dropdown-menu">
          <a href="{% url 'jollywood-english' %}" class="dropdown-item">English</a>
          <a href="#Math" class="dropdown-item">Mathematics</a>
          <a href="#Russian" class="dropdown-item">Russian</a>
          <a href="#Kids" class="dropdown-item">Kids</a>
        </div>
      </li>
    </ul>