{% extends 'rsc/base.html' %}
{% load crispy_forms_tags %}
{% block content %}
		
	<div class="container mt-5 jumbotron">
		<div class="row">

			<div class="col-md-9">
				<div class="content-section">		
					<div>
    					<h2 class="display-4">Importance of English Language</h2>
    					<p class="lead">English is the language of science, of aviation, computers, diplomacy, and tourism. Knowing English increases your chances of getting a good job in a multinational company within your home country or for finding work abroad. It’s also the language of international communication, the media and the internet, so learning English is important for socialising and entertainment as well as work!</p>
    					<small>Let’s look at the top 3 reasons why studying English is so important:</small>
    					<hr class="my-3">
    					<h4 class="h3">1. English is the Language of International Communication</h4>
    					<p>English may not be the most spoken language in the world, but it is the official language of 53 countries and spoken by around 400 million people across the globe. Being able to speak English is not just about being able to communicate with native English speakers, it is the most common second language in the world. If you want to speak to someone from another country then the chances are that you will both be speaking English to do this.
    					<br><br>
						The British Council projects that by 2020 two billion people in the world will be studying English. Learning English is important as it enables you to communicate easily with your fellow global citizens. When you study English at ELC schools, you will be making friends with people from lots of different countries, using English as your common language!</p>
						<hr>
						<h4 class="h3">2. English is the Language of Business</h4>
    					<p>English is the dominant business language and it has become almost a necessity for people to speak English if they are to enter a global workforce. Research from all over the world shows that cross-border business communication is most often conducted in English and many international companies expect employees to be fluent in English.
    					<br><br>
						Global companies such as Airbus, Daimler-Chrysler, Fast Retailing, Nokia, Renault, Samsung, SAP, Technicolor, and Microsoft in Beijing, have mandated English as their official corporate language. In addition, in 2010 the company Rakuten, a Japanese cross between Amazon and eBay, made it mandatory for their 7,100 Japanese employees to be able to speak English.
						<br>
						The importance of learning English in the international marketplace cannot be understated - learning English really can change your life.</p>
						<hr>
						<h4 class="h3">3. Speaking English gives you Access to a World of Entertainment</h4>
    					<p>Many of the world’s top films, books and music are published and produced in English. Therefore, by learning English you will have access to a great wealth of entertainment and will be able to have a greater cultural understanding.
    					<br><br>
						If you speak English, you won't need to rely on translations and subtitles anymore to enjoy your favourite books, songs, films and TV shows. Watching movies and television programmes in the English language is also a great and fun way to learn it! 
						<br><br>
						At <a href="{% url 'jollywood-home' %}">Jollywood</a> we encourage students to participate in the social programme to practice English outside a class environment. Activities include watching popular English films, sports, art galleries, museums, trips and excursions to local and historical areas. The programme is designed to encourage students to use and learn English in British culture.</p>
						<small class="small">Credits: <a href="https://www.elc-schools.com">The English Language Centre</a></small>
    				</div>
				</div>
			</div>

			{% include 'rsc/calendar.html' %}	
			
		</div>

	</div>

{% endblock content %}