{% extends 'rsc/base.html' %}
{% load crispy_forms_tags %}
{% block content %}
		
	<div class="container mt-5 jumbotron">
		<div class="row">

			<div class="col-md-9">
				<div class="content-section">		
					<div>
    					<h2 class="display-4">Importance of Russian Language</h2>
    					<p class="lead">The importance of Russian can open doors to employment in a variety of occupations such as in virtually any business related to oil, teaching, translation, and interpreting. Despite being overshadowed by China, after the fall of the Soviet Union. Russia still boasts huge exports of oil that keep the importance of Russian has one of the biggest energy producing powerhouses on the world stage. Learning Russian greatly improves your chances of success in job market dealing with these economies. Learning Russian can be a important but fun task to undertake.</p>
    					<small>Let’s look at the top 2 reasons why studying Russian is so important:</small>
    					<hr class="my-3">
    					<h4 class="h3">1. It’s One of The Most Spoken Languages in The World</h4>
    					<p>The first of my reasons for learning the Russian language is that it is spoken by more than 260 million people around the world. It is not only the official language of Russian, but also of Belarus, Kazakhstan and Kyrgyzstan. Additionally, It is spoken in Israel, the Balkans, Ukraine, Armenia and the USA. At times, it has been considered as the most spoken language in Europe, and, according to the language catalog, The Ethnologue, Russian is the 8th most spoken language in the world.</p>
						<hr>
						<h4 class="h3">2. Knowing the Russian Language Improves Your Employment Opportunities</h4>
    					<p>From the start of the new millennium, Russia has constantly been in the process of positioning itself as a major economic force. The birth of the new Russian middle class has led many to travel abroad, making a significant mark in the global tourism industry. This means that if you work in tourism, knowing how to speak Russian is definitely an asset to put on your CV.
    					<br><br>
						Having the opportunity of including on your CV that you master Russian will always make you stand out, even if the position you’re applying for doesn’t require you to speak Russian or any other languages. For an employer, being able to immerse yourself in and continue to learn a language which is considered to be difficult to learn will demonstrate dedication, recursion and perseverance (such qualities are highly sought in candidates). In short, being able to speak Russian speaks about your intellect.</p>
    				</div>
				</div>
			</div>

			{% include 'rsc/calendar.html' %}	
			
		</div>

	</div>

{% endblock content %}